<section class="orders-page-wrapper">
  <div class="container--lg">
    <div class="orders-row">
      <div class="orders-left-column">
        <div class="orders-left-column-inner {% if customer.default_address != blank  %} order-list-wrap{% endif %}">
          <div class="ut-small account-title">{{'customer.account.title'| t}}</div>
          <ul class="account-nav">
            {% for link in linklists[section.settings.account_menu].links %}
            {% if link.title != blank %}
            <li class="{% if link.handle == page.handle %}active{% endif %}"><a href="{{link.url}}">{{link.title}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% if customer.orders.size != 0 %}
        <div class="orders-right-column">
          <div class="orders-right-column-inner">
            <div class="ut-small">{{page.title}}</div>
            <h4>Welcome back, {{customer.first_name}}!</h4>
            <div class="flex order-details-row">
              <div class="orders-history-left">
                <div class="ut">{{ 'customer.account.order_history' | t }}</div>                
                {% paginate customer.orders by 20 %}                  
                <table class="orders-tabel">
                  <thead>
                    <tr>
                      <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                      <th scope="col">{{ 'customer.orders.date' | t }}</th>
                      <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                      <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th scope="col">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                    <tr>
                      <td data-label="{{ 'customer.orders.order_number' | t }}"><a href="{{ order.customer_url }}">{{ order.name }}</a></td>
                      <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: "%d/%m/%y" }}</td>
                      <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                      <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                      <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                    </tr>
                    {% endfor %}                                    
                  </tbody>
                </table>                 
                {%- if paginate.pages > 1 -%}
                {{ paginate | default_pagination }}
                {%- endif -%}
                {% endpaginate %}
              </div>
              {% if customer.default_address != blank  %}
              <div class="orders-account-details">
                <div class="ut-small">{{ 'customer.account.details' | t }}</div>
                <p class="p2">{{ customer.default_address | format_address }}</p>
                <a href="{{ routes.account_addresses_url }}" class="view-address-btn ut">{{ 'customer.account.view_addresses' | t }} </a>
              </div>
              {% endif %}
            </div>
            {% if customer.default_address == blank  %} 
            <div class="default_address_wrap">                       
              <div class="your-addresses-contents">
                <h5>{{ 'customer.address.title' | t }}</h5>
                <div class="caption">{{ 'customer.address.description' | t }}</div>
              </div>
              <a href="{{ routes.account_addresses_url }}" class="line-btn">
                <span class="inner-text">{{ 'customer.address.address' | t }}</span>
              </a>            
            </div>
            {% endif %}
          </div>
        </div>
      {% else %}
      <div class="account-right-column {% if customer.default_address == blank  %}flex order-details-row{% endif %}">
        <div class="account-right-column-inner">
          <div class="account-right-heading">
            <div class="ut-small">{{page_title}}</div>
            <h4>Welcome Back, {{customer.first_name}}!</h4>
          </div>
          <div class="your-order-contents">
            <h5>{{ 'customer.order.title' | t }}</h5>
            <div class="caption">{{ 'customer.order.description' | t }}</div>
          </div>
          {% if customer.default_address == blank  %}
            <div class="your-addresses-contents">
              <h5>{{ 'customer.address.title' | t }}</h5>
              <div class="caption">{{ 'customer.address.description' | t }}</div>
            </div>
            <a href="{{ routes.account_addresses_url }}" class="line-btn">
              <span class="inner-text">{{ 'customer.address.address' | t }}</span>
            </a>
          {% endif %}
        </div>
        {% if customer.default_address != blank  %}
        <div class="orders-account-details">
          <div class="ut-small">{{ 'customer.account.details' | t }}</div>
          <p class="p2">{{ customer.default_address | format_address }}</p>
          <a href="{{ routes.account_addresses_url }}" class="view-address-btn ut">{{ 'customer.account.view_addresses' | t }} </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
