{{ content_for_index }}




<p>***************************************************************************************</p>





{% comment %}
<form id="email_signup_footer" class="newsletter_form klaviyo_styling klaviyo_gdpr_embed_SStUVk" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" novalidate="novalidate">            
  <input type="hidden" name="g" value="SStUVk">
  <p class="err_msg"></p>
  <div class="input-group matiral-input-box">
    <input type="email" name="email" id="Email"  placeholder="{{ 'layout.footer.email_placeholder' | t }}">
    <button type="submit" name="subscribe" class="sub_go">
      {{ 'layout.footer.subscribe' | t }}
    </button> 
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
  </div>
</form>
 
<div id="email_subscribe"></div>        
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  $('#email_signup_footer').on('submit',function(e){    
    $(this).find('.success_message').hide();
    $('.err_msg').empty();      
    var x = true;                  
    var mtext = $(this).find('#Email');
    var err_msg;
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if(mtext.val().trim() == '' || !regex.test(mtext.val())) { 
      if(err_msg == null){
        err_msg = 'Please Enter Email';
      }        
      x = false;
      $(mtext).css({'border-color':'red'});
    }       
 
    if( x == false){        
      $(this).find('.err_msg').text(err_msg);
      return false;
    }
  }); 

  KlaviyoSubscribe.attachToForms('#email_signup_footer', {
    hide_form_on_success: false,
    success_message: "Please confirm the signing up, check your mail!"
  });
</script>

{% endcomment %}



<p>***************************************************************************************</p>




























    <div class="form-vertical sign_up">
      {% form 'customer' %}
      {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
      {% endif %}
      {{ form.errors | default_errors }}
      <input type="hidden" name="contact[tags]" value="kldfhigkldj "/>
      
      <label for="FirstName" class="hidden-label">{{ 'customer.sign_up.first_name' | t }}</label>
      <input type="text" name="contact[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.sign_up.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus required>

      <label for="LastName" class="hidden-label">{{ 'customer.sign_up.last_name' | t }}</label>
      <input type="text" name="contact[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.sign_up.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" required>

      <label for="CompanyName" class="hidden-label">{{ 'customer.sign_up.company_name' | t }}</label>
      <input type="text" name="contact[note][CompanyName]" id="CompanyName" class="input-full{% if form.errors contains 'company_name' %} error{% endif %}" placeholder="{{ 'customer.sign_up.company_name' | t }}" {% if form.company_name %} value="{{ form.company_name }}"{% endif %} autocorrect="off" autocapitalize="off" required>

      <label for="Email" class="hidden-label">{{ 'customer.sign_up.email' | t }}</label>
      <input type="email" name="contact[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.sign_up.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>
      <p>
        <input type="submit"  value="{{ 'customer.sign_up.submit' | t }}" class="btn btn--full submit1">
      </p>
      <a href="{{ shop.url }}">{{ 'customer.sign_up.cancel' | t }}</a>
      {% endform %}
    </div>

	<div class="allergies">
    <label for="allergies">Allergies</label>
    <input id="allergies" type="text" name="customer[note][Allergies]" />
  </div>